/target
/Cargo.lock
*.swp
*.swo
.DS_Store
/data
/relay/data
/config
.idea
# Added by cargo
#
# already existing elements were commented out

#/target

/Nostr_relay/target
/Nostr_relay/data
/Nostr_relay/Cargo.lock
.vscode/settings.json
